name: Research-Form cicd Pipeline

on:
  push:
    branches:
      - main
      - prod
  #手動で実行するためのトリガー
  workflow_dispatch:

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      BUILD_ENV: ${{ steps.env.outputs.BUILD_ENV }}
    steps:
      - name: Set environment by branch
        id: set-env
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
              echo "BUILD_ENV=dev" >> $GITHUB_OUTPUT
          elif [ "${{ github.ref_name }}" = "prod" ]; then
              echo "BUILD_ENV=prod" >> $GITHUB_OUTPUT
          else
              echo "Unknown branch: ${{ github.ref_name }}"
              exit 1
          fi
